.counter.post .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.counter.post .actions .value {
  font-size: 2rem;
  text-align: center;
  width: 60px;
}

.counter.post .actions .btn {
  cursor: pointer;
  padding: 0.5rem;
}

.counter.post .form {
  display: flex;
  justify-content: center;
}
