.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;

  position: fixed;
  width: 100%;

  background-color: var(--green);
  color: whitesmoke;
  padding-block: 0.5rem;
}

.header .logo-name {
  flex: 1;
}
